@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 50px;
    font-family: "Bungee", sans-serif;
    font-size: 2.2rem;
    color: rgb(255, 80, 95);
    text-shadow: 2px 2px black;
}

.calculator {
    width: 400px;
    height: 600px;
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.screen {
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}

.display {
    height: 100px;
    padding: 10px;
    background-color: #8ecae6;
    color: #110889;
    font-family: "Bungee Shade", sans-serif;
    font-size: 3.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.preview {
    height: 50px;
    border-bottom: 1px solid #000;
    padding: 10px;
    background-color: #8ecae6;
    font-family: "Montserrat", sans-serif;  
    font-weight: 700;
    font-style: italic;
}

.buttons {
    background-color: #ffffff;
}

.btns-row {
    height: 90px;
    border: 1px solid #000;
    display: flex;
}

.btn-container {
    width: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    font-family: "Bungee", sans-serif;
    font-size: 2rem;
    width: 90px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.number-btn {
    background-color: #219ebc;
}

.calc-btn {
    background-color: #ffb703;
}

.special-btn {
    background-color: #fb8500;
}

.erase-btn {
    background-color: #1e5a78;
}

.number-btn:active,
.calc-btn:active,
.special-btn:active,
.erase-btn:active {
    transform: translate(2px, 3px);
}

.button:hover {
    background-color: #c984de;
}
